.img {
    width: 30vw;
    height: 30vh;
}

.textDecorHidden {
    text-decoration: none;
}

.inline {
    display: flex;
    position: absolute;
    left: 10vw;
}

.flex0 {
    flex-grow: 0;
  }
  
  .flex1 {
    float: left;
    justify-content: left;
  }