@font-face {
  font-family: Avenir;
  src: url("../../Assets/avenir-lt-std-cufonfonts-webfont/AvenirLTStd-Black.woff");
}

div {
  font-family: Avenir;
}

.parents {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
}

.under {
  padding-top: 30vh;
}

.parentDiv{
  height: 100%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.PlantPanel {
  justify-content: center;
  margin-top: 25px;
  padding: 15px 32px;
}

.PlantProfile {
  margin: 30px;
  width: 260px;
  height: 220px;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px grey;
}

.vegetableCards {
  display: flex;
}

.selected {
    width: 40%;
    float: left;
}

.style_p {
  text-align: left;
  margin-left: 50px;
  font-size: 20px;
  margin-block-end: 0px;
}

.flex0 {
  flex-grow: 0;
}

.flex1 {
  float: left;
  justify-content: left;
}