@font-face {
    font-family: Avenir;
    src: "../Assets/avenir-lt-std-cufonts-webfont";
}

.custom_window {
    display: block;
    width: 350px;
    height: 250px;
    font-family: Avenir, Arial;
}

.button:hover {
    border: 1px darkgray;
}

.community {
    padding-top: 5px;
    font-size: 22px;
    text-align: center;

}

.master {
    padding: 20px;
}

.listitem {
    text-align: left;
    display: block;
}

.circle {
    float: left;
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
    margin-right: 15px;
}

.title {
    font-weight: bold;
    font-size: 22px;
    margin-block-start: 2px;  
    margin-block-end: 0px;  
}

.crops {
    margin-block-start: 0px;
    margin-block-end: 0px;
    font-size: 14px;
}