@font-face {
    font-family: Avenir;
    src: url("../../Assets/avenir-lt-std-cufonfonts-webfont/AvenirLTStd-LightOblique.woff");
}

.custom_window {
    width: 350px;
    height: 250px;
    font-family: Avenir;
}

.button:hover {
    border: 1px darkgray;
}

.community {
    font-size: 20px;
    text-align: center;
}

.master {
    display: flex;  
    padding: 15px;
}

.listitem {
    text-align: left;
    display: inline-block; 
    padding-left: 20px;
}

.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
}

.title {
    font-size: 24px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px;  
}

.crops {
    margin-block-start: 0px;
    margin-block-end: 0px;
}