.SearchCards {

    display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      height: 100%;
  
}

.title {
  font-family: Avenir;
  margin-top: 8vh !important;
  font-size: 32px !important;
}



.TextArea {
  height: 45px;
  width: 600px;
  padding-top:8px;
  font-size: 32px;
  resize: none;
  border-radius: 50px;
  outline: none;
  margin-top: 32px;
  padding-left: 2vw;
}

.info {
  margin-top: 30px;
  font-size: 20px;
}

@font-face {
  font-family: Avenir;
  src: "../Assets/avenir-lt-std-cufonts-webfont";
}
